<body>
  <section>
    <div class="box">
      <h2 class="text-center">Welcome to job portal</h2>
      <br><br><br><br><br>
      <div>
        <button id="hu" [routerLink]="[ '/genuser']" class="btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <b>Register here</b>
        </button>
      </div>
      <div>
        <button id="us" [routerLink]="[ '/patupdate']" class="btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <b>Candidate Login</b>
        </button>
      </div>
      <div>
        <button id="yu" [routerLink]="[ '/login']" class="btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <b>Recruiter Login</b>
        </button>
      </div>

    </div>
  </section>
</body>