body {
    background-color : #65e1f1;
    margin: 0;
    padding: 0;
}
h1 {
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}
form {
 
    margin: 0 auto;
}
#fs
{
    left: 40%;
    padding-top: 20px;
}