<div class="container">
  <div id="title" class="box">
    <b>Candidate Login</b>
  </div>

  <div class="fake">
    <div id="us">
      <b> User Name : <input type="text" name="username" [(ngModel)]="username"></b>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <br><br>
    </div>
    <div id="pwd">
      <b>Password : <input type="password" name="password" [(ngModel)]="password"></b>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <br><br>
    </div>
    <div>
      <button id="yu" (click)=checkLogin() class="btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <b>Login</b>
      </button>
    </div>
  </div>
  <!-- <div>
  <button  id="hu" [routerLink]="[ '/genuser']"  class="btn">
    <span></span>
      <span></span>
      <span></span>
      <span></span>
      <b>Register here</b>
  </button>
</div> -->
  <br><br><br><br>